<%- include('includes/head.ejs')%>
<!-- content div -->
<div>
  <!-- paragraph or text div -->
  Hello,
  <br />
  Your Account is Block by Admin <br />
  <b>Email</b>: <%= email %> <br />
  If you have not requested this email, then ignore it. ,<br />
  DevLog
</div>
<%- include('includes/end.ejs')%>
