</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<!-- END Intro -->
                      <!-- Footer -->
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tr>
                          <td
                            class="footer"
                            style="padding: 0px 30px 30px 30px"
                          >
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tr>
                                <td
                                  class="separator"
                                  style="
                                    border-bottom: 4px solid #222831;
                                    font-size: 0pt;
                                    line-height: 0pt;
                                  "
                                ></td>
                              </tr>
                              <tr>
                                <td
                                  class="pb40"
                                  style="padding-bottom: 40px"
                                ></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!-- END Footer -->
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="text-footer"
                      style="
                        padding: 30px 15px;
                        color: #fff;
                        font-family: 'Fira Mono', Arial, sans-serif;
                        font-size: 12px;
                        line-height: 22px;
                        text-align: center;
                      "
                    >
                      <div mc:edit="text_33">
                        DevLog &copy; 2021 All rights reserved
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- END Container -->
        </td>
      </tr>
    </table>
  </body>
</html>
